h1{
    color: blue;
    font-size: 40px;
    background-color: aquamarine;
    font-weight: 300;
    font-style: italic;
    text-align: center;

}


p{color: green; 
}

#beach{
    color: red 
}

.spain{
    color: rgb(0, 0, 255,);
    background-color: rgb(153, 87, 215, 0.6);
   
}
.u {
    color: blue;
}

body{
    background-image: url(../images/aghab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed ;
    height: 200vh;
}

img{
    border: 5px solid black;
    border-radius: 20px 20px 20px 20px
    box-shadow: 20px 20px 20px 20px blueviolet;

}